
p, h4{
  font-size: 14px;
}

h4{
  color: #7E7E82;
}

p{
  color: #1B1C21;
}

h4:not(:first-child){
  margin-top: 16px;
}

.swiper-header{
  align-items: center;
  display: flex;
  height: 65px;
  padding: 8px;
  background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
}

.swiper-wrapper__price{
  height: auto;
}

.swiper-header p{
  font-family: 'TT Lakes Regular';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7E7E82;
}

.swiper-wrapper__brands{
  max-height: 130px;
  padding-top: 10px;
}

.wiper-wrapper__repair{
  max-height: 170px;
}




.swiper-wrapper, .main-wrapper, .button-show{
  /*background: #F2F2F2;*/
  padding-bottom: 17px;
}

.swiper-slide{
  max-width: 210px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 8px;
  margin: 8px;
}

.swiper-slide__repair{
  min-height: 160px;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

.swiper-slide__repair div:first-child{
  margin-right: auto;
}

.swiper-slide__price{
  min-width: 260px;
  max-height: 200px;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}

.swiper-header__price{
  display: none;
  align-items: center;
  padding-left: 20px;
  height: 40px;
}

.swiper-header__price p{
  color: #7E7E82;
  font-weight: bold;
}

.brand-logo{
  width: 108px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: contain;
}

.brand-logo__lenovo{background-image: url("../../img/block2/brands/lenovo.png");}
.brand-logo__samsung{background-image: url("../../img/block2/brands/samsung.png");}
.brand-logo__apple{background-image: url("../../img/block2/brands/apple.png");}
.brand-logo__acer{background-image: url("../../img/block2/brands/acer.png");}
.brand-logo__bosch{background-image: url("../../img/block2/brands/bosch.png");}
.brand-logo__hp{background-image: url("../../img/block2/brands/hp.png");}
.brand-logo__sony{background-image: url("../../img/block2/brands/sony.png");}
.brand-logo__viewSonic{background-image: url("../../img/block2/brands/viewSonic.png");}

.brand-logo__bosch, .brand-logo__viewSonic, .brand-logo__sony{margin-top: 10px;}

.brands-button{
  width: 40px;
  height: 40px;
  border: 2px solid #FF3E79;
  box-sizing: border-box;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../../img/block2/brands/dropdown.png");
  cursor: pointer;
}

.brands-button__repair{
  margin-left: auto;
}

.button-order, .order-button{
  background-color: #FF3E79;
  width : 119px;
  height: 32px;
  border-radius: 16px;
  border: none;
  color: #FFFFFF;
  font-weight: bold;
  cursor: pointer;
}

.button-order{
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.button-order img{
  margin-left: 20px;
}

.swiper-pagination{
  /*top:160px;*/
}

.main-wrapper{
  display: none;
  height: 159px;
  overflow: hidden;
}

.button-show{
  cursor: pointer;
  z-index: 5;
  display: none;
}

.button-show img{
  margin-left: 20px;
  margin-right: 4px;
}

.active{
  max-height: 1000px;

}
.transformArrowImage{
  transform: rotate(180deg);
}
/*------------------------------------media css----------------------*/

@media screen and (min-width: 768px){
  .main{
    display: block;
  }
  .swiper-header{
    height: 50px;
  }

  .swiper-wrapper{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
  }

  .swiper-slide__customs{
    margin: 5px;
    max-width: 240px;
  }

  .swiper-header__price{
    display: flex;
  }

  .swiper-slide__price{
    margin: 0;
    border-radius: 0;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    min-width: 98%;
    height: 160px;
  }

  .swiper-header__price p:first-child{
    width: 46%;
  }

  .swiper-slide__price div:first-child{
    width: 38%;
  }
  .swiper-slide__price div:nth-child(2){
    width: 22%;
  }

  .swiper-header__price p:nth-child(2){
    width: 28%;
  }

  .swiper-slide__price:not(:first-child){
    border-top: none;
  }

  h4{
    display: none;
  }

  .button-order{
    position: sticky;
  }

  .button-show{
    display: block;
  }
}

@media screen and (min-width: 1120px){

  .swiper-slide__customs{
    min-width: 265px;
  }
}


/*-------------------------------fonts------------------------------*/

@font-face {
  font-family: 'TT Lakes Bold';
  src: url('../../fonts/lakes-bold/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/lakes-bold/TTLakes-Bold.woff') format('woff'),
  url('../../fonts/lakes-bold/TTLakes-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Regular';
  src: url('../../fonts/lakes-regular/TTLakes-Regular.eot');
  src: url('../../fonts/lakes-regular/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/lakes-regular/TTLakes-Regular.woff') format('woff'),
  url('../../fonts/lakes-regular/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
