$bgColor: #F8F8F8;
//$text: #000;
//$lineSectionColor: #D9FFF5

*{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'TT Lakes Regular';
}

.wrapper{
  position: relative;
  overflow: hidden;
}

.main{
  background: $bgColor;
}



.line-section{
  height: 1px;
  background: #D9FFF5;
}

.proposal, .policy{
  /* Сверху | Справа | Снизу | Слева */
  padding: 30px 15px 50px 15px;
}

.policy p{
  text-align: center;
}

.proposal p, .proposal span, .policy p{
  color: #1B1C21;
  margin-bottom: 20px;
}

.policy p:first-child{
  margin-bottom: 0;
}

.proposal span{
  font-family: 'TT Lakes Bold', sans-serif;
  cursor: pointer;
}

.proposal img{
  cursor: pointer;
  margin-left: 10px;
}


@media screen and (min-width: 768px){
  .policy{
    display: flex;

  }
  .policy p{
    width: 40%;
  }
}


@media screen and (min-width: 1120px){
  .main{
    max-width: 1120px;
    margin: auto;
  }
  .proposal p {
    max-width: 50%;
  }
}


@media screen and (min-width: 1440px){
  .sidebar{
    display: flex;
  }

  .wrapper{
    display: flex;
    margin: auto;
    max-width: 1440px;
  }

  .header-right{
    visibility: hidden;
  }

  .services-title{
    position: absolute;
    top: -80px;
  }

  .line-border {
    top: -55px;
  }
}


@import "./components/header.css";
@import "./components/swiper.css";
@import "./components/sidebar.css";
@import '~swiper/swiper-bundle.css';
@import './components/order.css';

