$bgColor: #F8F8F8;
$text: #fff;

@font-face {
  font-family: 'TT Lakes Bold';
  src: url('src/fonts/lakes-bold/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
  url('src/fonts/lakes-bold/TTLakes-Bold.woff') format('woff'),
  url('src/fonts/lakes-bold/TTLakes-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Regular';
  src: url('src/fonts/lakes-regular/TTLakes-Regular.eot');
  src: url('src/fonts/lakes-regular/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
  url('src/fonts/lakes-regular/TTLakes-Regular.woff') format('woff'),
  url('src/fonts/lakes-regular/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 1rem;
  margin: 0;
  font-family: TT Lakes Regular, sans-serif;
  background-color: $bgColor;
  color: $text;
}



